{% extends "base.html.twig" %}

{% block title %}SymRecipie - accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur SymRecipie</h1>
			{% for message in app.flashes('success') %}
				<div class=" alert alert-success mt-4">
					{{message}}
				</div>
			{% endfor %}
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">

	
		 </div>

		<div class="recipes">	
		<h2 class="mt-4">Recette de la communauté</h2>
		<div class="carte mt-4">
				{% for recipe in recipes %}

					<div class="card mb-1">
						<h3 class="card-header">Recette numero{{recipe.id}}</h3>
						<div class="card-body">
							<h5 class="card-title">{{recipe.name}}</h5>
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
							<rect width="100%" height="100%" fill="#868e96"></rect>
							<text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
						</svg>
						<div class="card-body">
							<p class="card-text">{{recipe.description|slice(0, 50) ~ '...' }}</p>
						</div>
						
						<div class="card-body">
							<a href="#" class="card-link">Card link</a>
							<a href="#" class="card-link">Another link</a>
						</div>
						<div class="card-footer text-muted">
							2 days ago
						</div>
					</div>
					
				{% endfor %}
			</div>
		
		
		</div>

		
	</div>
		{% endblock %}

