{% extends "base.html.twig" %}

{% block tilte %}
SymRecipe - Inscription
{% endblock %}

{% block body %}

<div class="container">
<h1> formulaire d'inscription</h1>


{{form(form)}}
</div>
    
{% endblock %}